/* PC、スマホ共通スタイル */
body {
    min-width: 375;
    margin: 0;
  }
/* ヘッダー */
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}



.resizeimage img { width: 100vw; }
  
#nav-sp ul {
  padding-left: 0;
}

#nav-sp  li {
  list-style: none;
}

 /* ナビゲーションのレイアウト */
 #nav-pc {
  font-size: 14px;  
}

#nav-pc ul {
  display: flex;
  padding-left: 0;
}

#nav-pc li {
  list-style: none;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc a {
  text-decoration: none;
  margin-left: 20px;
  color: #000000;
  display: block;
}

#nav-pc a:hover {
  text-decoration: underline;
}
 /* スマホ用ナビを非表示 */
 #nav-sp,
 #menu-sp {
   display: none;
 }

/* ナビゲーションメニュー用ロゴ */
#logo-sp {
  margin: 80px 0 30px 20px;
} 
 /* ナビゲーションのリンクの装飾設定 */
 #nav-sp nav a {
  display: block;
  color: #ffffff;
}

#nav-sp nav a:hover {
   text-decoration: underline;
 }

 #nav-sp .menu {
   text-decoration: none;
   margin: 0 20px 0 20px;
   height: 44px;
   font-size: 16px;
   background-image: url("images/arrow.png");
   background-repeat: no-repeat;
   background-position: right top;
 }

 body{
  min-width: 375px;
  margin: 0;
 }

/*====================
  スマートフォン用のスタイル
 =====================*/
 @media screen and (max-width: 767px) {
  /* PC用ナビゲーション非表示 */
  #nav-pc {
    display: none;
  }

  /* ハンバーガーメニュー */
  #menu-sp {
    display: block;
    background-color: transparent;
    float: right;
    padding: 0;
    border: none;
  }

  /* スマホ用ナビゲーションの表示切替*/
  /* 初期状態、レイアウトと非表示設定 */
  #nav-sp {
    background-color: #ce933e;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
  }

  #nav-sp{
    display: block;
  }

  #nav-spa:link{
    color: #ffffff;
  }

  #nav-spa:visited	{
    color: #ffffff;
  }
  
  }
  /* ×ボタン */
  #close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
  }

  #nav-sp nav ul {
    padding-left: 0;
  }

  #nav-sp nav li {
    list-style: none;
  }

  /* ナビゲーションメニュー用ロゴ */
  #logo-sp {
    margin: 80px 0 30px 20px;
  } 

  #nav-sp a:link{
    color: #ffffff;
  }

  #nav-sp a:visited	{
    color: #ffffff;
  }
  #nav-sp a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  #nav-sp a:active {
    color: #ffffff;
  }
  
  #nav-sp .menu {
    text-decoration: none;
    margin: 0 20px 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("images/arrow.png");
    display: flow-root;
    background-repeat: no-repeat;
    background-position:right top;
    color: #ffffff;
  }

